@use '../../../../styles/mixins' as mixins

:host
  display: block
  position: relative

app-close-button
  position: absolute
  right: 1rem
  top: 1rem

.unlock-notification
  padding: 3rem

  &__title
    margin-bottom: 1rem

  &__body
    margin-bottom: 2rem
    line-height: 1.6
    opacity: 0.85

  &__cta
    @include mixins.button
