<section class="skill-tree-window">
    <app-skill-tree
        class="skill-tree damage-tree"
        [skillTreeId]="SkillTreeID.damage"
        [skillPoints]="SkillTreeData[SkillTreeID.damage].skills"
    />
    <app-skill-tree
        class="skill-tree exploration-tree"
        [skillTreeId]="SkillTreeID.exploration"
        [skillPoints]="SkillTreeData[SkillTreeID.exploration].skills"
    />
    <app-skill-tree
        class="skill-tree magic-tree"
        [skillTreeId]="SkillTreeID.magic"
        [skillPoints]="SkillTreeData[SkillTreeID.magic].skills"
    />
</section>
