<section class="dialogue-modal">
    <app-close-button (onClose)="close.emit()"/>
    @if (npc && dialogue) {
        @let currentDialogue = dialogue[currentDialogueId];

        <div class="dialogue-modal__wrapper">
            <div>
                <h2 class="dialogue-modal__npc-name">{{ 'npc:names.' + NpcID[npc.id] | i18next }}</h2>
                <p class="dialogue-modal__npc-message">{{ currentDialogue.messageKey | i18next }}</p>
            </div>
            <img
                class="dialogue-modal__npc-image"
                alt=""
                height="128"
                width="128"
                loading="lazy"
                [ngSrc]="npc.url"
            >
        </div>

        <ul class="dialogue-modal__options">
            @for (option of $any(currentDialogue.options); track $index) {
                @let conditions = option.conditions;
                @let meetsConditions = checkIfMeetsRequirements(conditions);

                @if (!option.conditions || meetsConditions) {
                    <li
                        class="dialogue-modal__option"
                        (click)="handleOptionClicked(option)"
                    >{{ option.responseKey | i18next }}
                        @if (option.effects) {
                            @let effect = option.effects;
                            @if (effect.type === 'quest' && effect.action === 'start' && meetsConditions) {
                                <span class="quest-start">{{ 'starts' | i18next }} {{ ('quests:names.' + QuestID[effect.questId]) | i18next }} {{ 'quest' | i18next }}</span>
                            }
                            @if (conditions?.length) {
                                @for (condition of conditions; track $index) {
                                    <span class="quest-condition">
<!--                                        @switch (condition.type) {-->
                                        <!--                                            @case ('')-->
                                        <!--                                        }-->
                                    </span>
                                }
                            }
                        }
                    </li>
                }
            }
        </ul>

    }
</section>
