@use 'variables' as variables

footer
  display: flex
  justify-content: space-between
  padding: 0 1rem

  .spell
    width: 40px
    height: 40px
    background-size: contain
    display: flex
    align-items: center
    justify-content: center
    text-shadow: variables.$textShadow
