<footer>
  <div class="active-buffs">
    @for (spell of activeSpells(); track spell.spellId) {
      @let spellData = SPELLS_DATA[spell.spellId];
      <div
        class="buff"
        [style]="{ 'background-image': spellData.url | url }"
      >
        {{ spell.ticksRemaining }}
      </div>
    }
  </div>
  <div class="spell-bar">
    @for (i of slotIndices; track i) {
      @let spell = equippedSpells()[i];
      <div
        cdkDropList
        [id]="'spell-slot-' + i"
        [cdkDropListData]="i"
        [cdkDropListConnectedTo]="connectedTo"
        (cdkDropListDropped)="onSlotDrop($event)"
        class="spell-bar__slot"
      >
        @if (spell) {
          <div class="spell-bar__drag" cdkDrag [cdkDragData]="spell">
            <app-spell-slot [spellId]="spell.spellId" [equippedSpell]="spell"/>
          </div>
        }
      </div>
    }
  </div>

</footer>
